.ui.borderless.topmenu.menu{
  border: none;
  box-shadow: none;
}

.middle-background {
  padding-top: 150px;
  padding-left: 20px;
  background-image: url("http://murphyshawaii.com/media/2014/04/murphys-front.jpg");
  height: 600px;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.middle.text{
  padding-top:50px;
  padding-right: 50px;
  font-size: 20px;
  font-family:'Open Sans', Arial, sans-serif;
  line-height: 1.7em;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

.middle-image{
  padding-left: 100px;
}

.green-background {
  background-color: #004030;
  color: white;
}